h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1.75rem 1rem;
}
.card{
    max-width: 21.438rem;
}
div.card-img {
  .img-mobile {
    width: 21.438rem;
    border-radius: 0.625rem 0.625rem 0 0;
    display: block;
  }
}
.img-desktop {
  display: none;
}
.card-desc {
  background-color: $pure-white;
  padding: 1.5rem;
}
small,
p,
h3 {
  @include montserrat-font-family;
}
small {
  font-size: $fs12;
  text-transform: uppercase;
  letter-spacing: 0.313rem;
}
p {
  font-size: $fs14;
  line-height: 1.438rem;
}
h3 {
  font-size: $fs13;
  line-height: 1.438rem;
  text-decoration: line-through;
}
.price-section {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}
button {
  font-weight: 700;
  color: $pure-white;
  font-size: $fs14;
  font-family: "Montserrat", serif;
  border: none;
  border-radius: 0.5rem;
  background-color: $btn-color;
  &:hover {
    background-color: $btn-hover;
    cursor: pointer;
  }
  padding: 0.938rem 5.75rem;
  display: flex;
  align-items: center;
}
h1,
h2 {
  font-size: $fs32;
  font-weight: 700;
  font-family: "Fraunces", serif;
  line-height: 2rem;
}
h1 {
  color: $heading-color;
  margin: 1rem 0;
}
h2 {
  color: $btn-color;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .card {
    display: flex;
    max-width: 37.5rem;
  }
  .card-desc {
    padding: 2rem;
    border-radius: 0 0.625rem 0.625rem 0;
  }
  div.card-img {
    .img-desktop {
      display: block;
      border-radius: 0.625rem 0 0 0.625rem;
      width: 18.75rem;
    }
  }
  div.card-img .img-mobile {
    display: none;
  }
  button {
    padding-right: 3.938rem;
    padding-left: 3.938rem;
  }
  h1 {
    margin: 1.5rem 0;
  }
}
