// colors used
$cream-bg: #F2EAE2;
$pure-white: #ffffff;
$text-color: #6C7289;
$btn-color: #3D8168;
$btn-hover: #1A4032;
$heading-color: #1C232B;

//font-sizes
$fs12: 0.75rem;
$fs32: 2rem;
$fs14: 0.875rem;
$fs13: 0.813rem;

//font-famliy
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
